.block-img {
    width: 870px;
    max-height: 700px;
    margin-top: 125px;
    margin-left: 186px;
    display: flex;
    flex-wrap: wrap;

}
.block-img img {
    width: 132px;
    height: 132px;
    margin:6px;
    cursor: pointer;
}
.btn-more-load {
    width: 854px;
    height: 40px;
    margin: 25px 0px 25px 191px;
    color: aliceblue;
    cursor: pointer;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hide {
    display: none;
}
button {
    all: unset;
}
.picture-item {
    margin: 5px;
    width: 132px;
    height: 132px;

}