.container-gallery {

}
.block-img {
    width: 854px;
    height: auto;
    margin-left: -5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
}
.block-img img {
    width: 132px;
    height: 132px;
    margin:6px;
    cursor: pointer;
}
.btn-more-load {
    width: 854px;
    height: 40px;
    margin: 15px 0px 25px 0px;
    color: aliceblue;
    cursor: pointer;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hide {
    display: none;
}
button {
    all: unset;
}
.picture-item {
    margin: 5px;
    width: 132px;
    height: 132px;

}
.desired {
    margin-top: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    height: 25px;
}