.container-add-img {
    margin-top: 80px;
    display: flex;
    justify-content:space-between;
    width: 854px;
    margin-left: 191px;

}

.btn-save-img button{
    margin-top: 20px;
    cursor: pointer;
    color: #FFFFFF;
    width: 185px;
    height: 47px;
    background-color: #6F56FE;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
}

.preview-img {
    border-radius: 5%;
    width: 324px;
    height: 324px;
    background: url("ff.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    border: hidden;
    outline: none;
}
.preview-img img {
    width: 100%;
    height: 100%;
}
.input-tag {
    width: 457px;
    height: 124px;
    background: #363636;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-tag textarea {
    width: 418px;
    height: 84px;
    background: #363636;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #FFFFFF;
    outline: none;
    border: none;
    resize:none
}
.container-add-img p {
    color: #8C8C8C;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}